*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.xml
*.xml
*.xml
.idea/compiler.xml
app/src/main/java/com/example/i2ichest_/fingerprintit/task/WSTaskPost.java
.idea/workspace.xml___jb_old___
